/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 9, 2015, 1:05:33 PM
    Author     : m1kompal
*/
  
            
.waterfall-demo-header-nav .mdl-navigation__link:last-of-type  {
  padding-right: 0;
}

  .sign_on{
   margin-top: 50px; 
   margin-left: 50px;
   text-align: center;
           

 
  }


  main{
      background-color: #EBEBEB;
  }
.mdl-layout__header{
       background-color:#003366;
     
  }
button.mdl-button mdl-js-button mdl-js-ripple-effect{
    color:  #003366;
}

.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
  margin:0 auto;
}
.mdl-button_ripple-container{
    alignment-adjust: central;
}
.signIn_wrapper{
     text-align: right;
}

.mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary{
        position: absolute;
    top: 50%;
}
.mdl-textfield mdl-js-textfield mdl-textfield--expandable textfield-demo{
text-align: center
}
.mdl-button mdl-js-button mdl-button--icon{
 text-align: center   
}
.mdl-navigation__link>a:hover{
     background-color:#003366;
     color: white;
}
.mdl-layout__drawer{

    background-color:#EBEBEB;
}
.search-box,.close-icon,.search-wrapper {
  position: relative;
  padding: 10px;
}
.search-wrapper {
  width: 500px;
  margin: auto;
  margin-top: 50px;
}
.search-box {
  width: 50%;
  border: 1px solid #ccc;
  outline: 0;
  border-radius: 0px;
  margin-left: 200px;
  margin-top: 10px;
}
.search-box:focus {

  border: 2px solid #003366;
}
.close-icon {
  border:1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
}
.close-icon:after {
  content: "X";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #FA9595;
  z-index:1;
  right: 35px;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 12px;
  box-shadow: 0 0 2px #E50F0F;
  cursor: pointer;
}
.search-box:not(:valid) ~ .close-icon {
  display: none;
}
